In [15]:
import pandas as pd
import numpy as np
import sqlite3 
import os

In [16]:
df = pd.read_csv("violations.csv")

In [17]:
db = sqlite3.connect("HealthCodeViolations.db")

In [14]:
df.info

<bound method DataFrame.info of        business_id      date  \
0            29790  20190416
1            29790  20190416
2            29790  20190416
3            29790  20190416
4            29790  20190813
...            ...       ...
45393       109887  20191204
45394       109899  20191218
45395       109902  20191220
45396       109918  20200110
45397       109918  20200110

                                             description  code  critical
0      Food/Non-food contact surfaces designed, const...   NaN     False
1      Food/Non-food contact surfaces of equip/utensi...   NaN     False
2      Floors constructed, drained, clean, good repai...   NaN     False
3      Walls, ceiling, attached equipment constructed...   NaN     False
4      Adequate hand washing facilities supplied and ...   NaN     False
...                                                  ...   ...       ...
45393                  Adequate ventilation and lighting   NaN     False
45394                  Certified food protection manager   NaN     False
45395                  Certified food protection manager   NaN     False
45396  Ware washing facilities:  installed, maintaine...   NaN     False
45397                  Certified food protection manager   NaN     False

[45398 rows x 5 columns]>

In [18]:
df.isnull().sum()

business_id        0
date               0
description        8
code           45398
critical           0
dtype: int64

In [19]:
pd.Series([True, False, True]).sum()

2

In [20]:
df[df.code.isnull()]

,business_id,date,description,code,critical
0,29790,20190416,"Food/Non-food contact surfaces designed, const...",NaN,False
1,29790,20190416,Food/Non-food contact surfaces of equip/utensi...,NaN,False
2,29790,20190416,"Floors constructed, drained, clean, good repai...",NaN,False
3,29790,20190416,"Walls, ceiling, attached equipment constructed...",NaN,False
4,29790,20190813,Adequate hand washing facilities supplied and ...,NaN,False
...,...,...,...,...,...
45393,109887,20191204,Adequate ventilation and lighting,NaN,False
45394,109899,20191218,Certified food protection manager,NaN,False
45395,109902,20191220,Certified food protection manager,NaN,False
45396,109918,20200110,"Ware washing facilities: installed, maintaine...",NaN,False
45397,109918,20200110,Certified food protection manager,NaN,False

In [36]:
cleanData = df.drop(columns = "code")

In [37]:
df[df.description.isnull()]

       business_id      date description  code  critical
17232        75804  20150625         NaN   NaN     False
22867        86635  20170714         NaN   NaN     False
33323        96302  20151121         NaN   NaN     False
34974        97380  20150422         NaN   NaN     False
39258       100732  20161011         NaN   NaN     False
42102       103825  20171026         NaN   NaN     False
44898       108276  20190625         NaN   NaN     False
44970       108593  20190903         NaN   NaN     False

In [38]:
cleanData

,business_id,date,description,critical
0,29790,20190416,"Food/Non-food contact surfaces designed, const...",False
1,29790,20190416,Food/Non-food contact surfaces of equip/utensi...,False
2,29790,20190416,"Floors constructed, drained, clean, good repai...",False
3,29790,20190416,"Walls, ceiling, attached equipment constructed...",False
4,29790,20190813,Adequate hand washing facilities supplied and ...,False
...,...,...,...,...
45393,109887,20191204,Adequate ventilation and lighting,False
45394,109899,20191218,Certified food protection manager,False
45395,109902,20191220,Certified food protection manager,False
45396,109918,20200110,"Ware washing facilities: installed, maintaine...",False
45397,109918,20200110,Certified food protection manager,False

In [39]:
cleanData[cleanData.description.isnull()]

       business_id      date description  critical
17232        75804  20150625         NaN     False
22867        86635  20170714         NaN     False
33323        96302  20151121         NaN     False
34974        97380  20150422         NaN     False
39258       100732  20161011         NaN     False
42102       103825  20171026         NaN     False
44898       108276  20190625         NaN     False
44970       108593  20190903         NaN     False

In [40]:
cleanData.dropna()

,business_id,date,description,critical
0,29790,20190416,"Food/Non-food contact surfaces designed, const...",False
1,29790,20190416,Food/Non-food contact surfaces of equip/utensi...,False
2,29790,20190416,"Floors constructed, drained, clean, good repai...",False
3,29790,20190416,"Walls, ceiling, attached equipment constructed...",False
4,29790,20190813,Adequate hand washing facilities supplied and ...,False
...,...,...,...,...
45393,109887,20191204,Adequate ventilation and lighting,False
45394,109899,20191218,Certified food protection manager,False
45395,109902,20191220,Certified food protection manager,False
45396,109918,20200110,"Ware washing facilities: installed, maintaine...",False
45397,109918,20200110,Certified food protection manager,False

In [41]:
cleanData.to_sql

<bound method NDFrame.to_sql of        business_id      date  \
0            29790  20190416
1            29790  20190416
2            29790  20190416
3            29790  20190416
4            29790  20190813
...            ...       ...
45393       109887  20191204
45394       109899  20191218
45395       109902  20191220
45396       109918  20200110
45397       109918  20200110

                                             description  critical
0      Food/Non-food contact surfaces designed, const...     False
1      Food/Non-food contact surfaces of equip/utensi...     False
2      Floors constructed, drained, clean, good repai...     False
3      Walls, ceiling, attached equipment constructed...     False
4      Adequate hand washing facilities supplied and ...     False
...                                                  ...       ...
45393                  Adequate ventilation and lighting     False
45394                  Certified food protection manager     False
45395                  Certified food protection manager     False
45396  Ware washing facilities:  installed, maintaine...     False
45397                  Certified food protection manager     False

[45398 rows x 4 columns]>

In [44]:
cleanData.to_sql('HealthCodeViolations', db, if_exists = "replace")

In [51]:
query = """
SELECT *
FROM HealthCodeViolations;
"""
dbInfo = pd.read_sql_query(query, db)

dbInfo

,index,business_id,date,description,critical
0,0,29790,20190416,"Food/Non-food contact surfaces designed, const...",0
1,1,29790,20190416,Food/Non-food contact surfaces of equip/utensi...,0
2,2,29790,20190416,"Floors constructed, drained, clean, good repai...",0
3,3,29790,20190416,"Walls, ceiling, attached equipment constructed...",0
4,4,29790,20190813,Adequate hand washing facilities supplied and ...,0
...,...,...,...,...,...
45393,45393,109887,20191204,Adequate ventilation and lighting,0
45394,45394,109899,20191218,Certified food protection manager,0
45395,45395,109902,20191220,Certified food protection manager,0
45396,45396,109918,20200110,"Ware washing facilities: installed, maintaine...",0
45397,45397,109918,20200110,Certified food protection manager,0